@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:100,300,400,500');

/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}


/* ----------------------------------------
Typography
------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  background-color: #fcfcfc;
}


h1 {
  font-family: 'poppins', sans-serif;
  font-size: 48px;
  text-align: center;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

h1, h2, h3, p {
  margin: 30px;
}





/* ----------------------------------------
Nav
------------------------------------------- */




/* ----------------------------------------
Main
------------------------------------------- */



/* ----------------------------------------
Images
------------------------------------------- */







/* ----------------------------------------
Form
------------------------------------------- */





/* ----------------------------------------
Footer
------------------------------------------- */




/* ==========================================================================
  Individual Page Styles
   ========================================================================== */



/* ----------------------------------------
Contact
------------------------------------------- */

.contact-header {
  background-image: url(../img/contact-header.jpg);
  background-size: cover;
  background-position: top;
  padding: 100px;
  height: 50vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info {
  display: flex;
  justify-content: center;
}
